#icon-lrg-_100-bakersfield-lancaster { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -45px -4px;
}
#icon-med-_100-bakersfield-lancaster { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -30px -94px;
}
#icon-sml-_100-bakersfield-lancaster { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -30px -151px;
} 
#icon-lrg-_110-delano-bakersfield { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -134px -4px;
}
#icon-med-_110-delano-bakersfield { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -87px -94px;
}
#icon-sml-_110-delano-bakersfield { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -73px -151px;
} 
#icon-lrg-_115-lost-hills-bakersfield { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -223px -4px;
}
#icon-med-_115-lost-hills-bakersfield { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -144px -94px;
}
#icon-sml-_115-lost-hills-bakersfield { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -116px -151px;
} 
#icon-lrg-_120-taft-bakersfield { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -312px -4px;
}
#icon-med-_120-taft-bakersfield { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -201px -94px;
}
#icon-sml-_120-taft-bakersfield { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -159px -151px;
} 
#icon-lrg-_130-frazier-park-bakersfield { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -401px -4px;
}
#icon-med-_130-frazier-park-bakersfield { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -258px -94px;
}
#icon-sml-_130-frazier-park-bakersfield { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -202px -151px;
} 
#icon-lrg-_140-lamont-bakersfield-north { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -490px -4px;
}
#icon-med-_140-lamont-bakersfield-north { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -315px -94px;
}
#icon-sml-_140-lamont-bakersfield-north { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -245px -151px;
} 
#icon-lrg-_142-lamont-bakersfield-weekend-loop { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -579px -4px;
}
#icon-med-_142-lamont-bakersfield-weekend-loop { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -372px -94px;
}
#icon-sml-_142-lamont-bakersfield-weekend-loop { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -288px -151px;
} 
#icon-lrg-_145-lamont-bakersfield-south { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -668px -4px;
}
#icon-med-_145-lamont-bakersfield-south { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -429px -94px;
}
#icon-sml-_145-lamont-bakersfield-south { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -331px -151px;
} 
#icon-lrg-_150-lake-isabella-bakersfield { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -757px -4px;
}
#icon-med-_150-lake-isabella-bakersfield { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -486px -94px;
}
#icon-sml-_150-lake-isabella-bakersfield { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -374px -151px;
} 
#icon-lrg-_210-frazier-park-local { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -846px -4px;
}
#icon-med-_210-frazier-park-local { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -543px -94px;
}
#icon-sml-_210-frazier-park-local { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -417px -151px;
} 
#icon-lrg-_220-lake-isabella-kernville { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -935px -4px;
}
#icon-med-_220-lake-isabella-kernville { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -600px -94px;
}
#icon-sml-_220-lake-isabella-kernville { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -460px -151px;
} 
#icon-lrg-_223-lake-isabella-bodfish { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -1024px -4px;
}
#icon-med-_223-lake-isabella-bodfish { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -657px -94px;
}
#icon-sml-_223-lake-isabella-bodfish { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -503px -151px;
} 
#icon-lrg-_225-lake-isabella-onyx { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -1113px -4px;
}
#icon-med-_225-lake-isabella-onyx { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -714px -94px;
}
#icon-sml-_225-lake-isabella-onyx { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -546px -151px;
} 
#icon-lrg-_227-lake-isabella-ridgecrest { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -1202px -4px;
}
#icon-med-_227-lake-isabella-ridgecrest { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -771px -94px;
}
#icon-sml-_227-lake-isabella-ridgecrest { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -589px -151px;
} 
#icon-lrg-_230-mojave-ridgecrest { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -1291px -4px;
}
#icon-med-_230-mojave-ridgecrest { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -828px -94px;
}
#icon-sml-_230-mojave-ridgecrest { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -632px -151px;
} 
#icon-lrg-_240-boron-majave { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -1380px -4px;
}
#icon-med-_240-boron-majave { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -885px -94px;
}
#icon-sml-_240-boron-majave { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -675px -151px;
} 
#icon-lrg-_250-california-city-lancaster { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -1469px -4px;
}
#icon-med-_250-california-city-lancaster { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -942px -94px;
}
#icon-sml-_250-california-city-lancaster { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -718px -151px;
} 
#icon-lrg-dial-bakersfield-medical { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -1558px -4px;
}
#icon-med-dial-bakersfield-medical { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -999px -94px;
}
#icon-sml-dial-bakersfield-medical { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -761px -151px;
} 
#icon-lrg-dial-bakersfield-medical { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -1647px -4px;
}
#icon-med-dial-bakersfield-medical { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -1056px -94px;
}
#icon-sml-dial-bakersfield-medical { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -804px -151px;
} 
#icon-lrg-dial-bakersfield-medical { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -1736px -4px;
}
#icon-med-dial-bakersfield-medical { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -1113px -94px;
}
#icon-sml-dial-bakersfield-medical { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -847px -151px;
} 
#icon-lrg-dial-bakersfield-medical { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -1825px -4px;
}
#icon-med-dial-bakersfield-medical { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -1170px -94px;
}
#icon-sml-dial-bakersfield-medical { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -890px -151px;
} 
#icon-lrg-dial-frazier-park { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -1914px -4px;
}
#icon-med-dial-frazier-park { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -1227px -94px;
}
#icon-sml-dial-frazier-park { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -933px -151px;
} 
#icon-lrg-dial-kern-river-valley { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -2003px -4px;
}
#icon-med-dial-kern-river-valley { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -1284px -94px;
}
#icon-sml-dial-kern-river-valley { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -976px -151px;
} 
#icon-lrg-dial-lamont { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -2092px -4px;
}
#icon-med-dial-lamont { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -1341px -94px;
}
#icon-sml-dial-lamont { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -1019px -151px;
} 
#icon-lrg-dial-lost-hills { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -2181px -4px;
}
#icon-med-dial-lost-hills { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -1398px -94px;
}
#icon-sml-dial-lost-hills { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -1062px -151px;
} 
#icon-lrg-dial-mojave { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -2270px -4px;
}
#icon-med-dial-mojave { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -1455px -94px;
}
#icon-sml-dial-mojave { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -1105px -151px;
} 
#icon-lrg-dial-rosamond { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -2359px -4px;
}
#icon-med-dial-rosamond { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -1512px -94px;
}
#icon-sml-dial-rosamond { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -1148px -151px;
} 
#icon-lrg-dial-taft { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -2448px -4px;
}
#icon-med-dial-taft { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -1569px -94px;
}
#icon-sml-dial-taft { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -1191px -151px;
} 
#icon-lrg-dial-tehachapi { 
 width: 88px;  height: 88px; 
background-image: url(../images/route-icons.png);
  background-position: -2537px -4px;
}
#icon-med-dial-tehachapi { 
 width: 54px;  height: 54px; 
background-image: url(../images/route-icons.png);
  background-position: -1626px -94px;
}
#icon-sml-dial-tehachapi { 
 width: 40px;  height: 40px; 
background-image: url(../images/route-icons.png);
  background-position: -1234px -151px;
} 

