#home-desktop-map-container.mapWidth1151 #map-background {
  background-image: url("../images/map/basemap_1151_out.jpg");
}
#home-desktop-map-container.mapWidth1151 #home-desktop-map #map_0 {
  display: none;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._250-california-city-lancaster {
  background-image: url("../images/map/250-california-city-lancaster_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 741px 372px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._240-boron-mojave {
  background-image: url("../images/map/240-boron-mojave_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 768px 409px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._230-mojave-ridgecrest {
  background-image: url("../images/map/230-mojave-ridgecrest_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 771px 63px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._100-bakersfield-lancaster {
  background-image: url("../images/map/100-bakersfield-lancaster_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 404px 239px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._150-lake-isabella-bakersfield {
  background-image: url("../images/map/150-lake-isabella-bakersfield_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 392px 83px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._225-lake-isabella-onyx {
  background-image: url("../images/map/225-lake-isabella-onyx_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 619px 48px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._223-lake-isabella-bodfish {
  background-image: url("../images/map/223-lake-isabella-bodfish_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 607px 85px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._220-lake-isabella-kernville {
  background-image: url("../images/map/220-lake-isabella-kernville_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 601px 0px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._227-lake-isabella-ridgecrest {
  background-image: url("../images/map/227-lake-isabella-ridgecrest_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 607px 3px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._140-lamont-bakersfield-north {
  background-image: url("../images/map/140-lamont-bakersfield-north_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 394px 230px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._145-lamont-bakersfield-south {
  background-image: url("../images/map/145-lamont-bakersfield-south_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 336px 250px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._120-taft-bakersfield {
  background-image: url("../images/map/120-taft-bakersfield_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 137px 231px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._210-frazier-park-local {
  background-image: url("../images/map/210-frazier-park-local_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 263px 541px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._130-frazier-park-bakersfield {
  background-image: url("../images/map/130-frazier-park-bakersfield_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 342px 247px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._92-GET {
  background-image: url("../images/map/92-GET_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 347px 247px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._110-delano-bakersfield {
  background-image: url("../images/map/110-delano-bakersfield_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 215px 14px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers._115-lost-hills-bakersfield {
  background-image: url("../images/map/115-lost-hills-bakersfield_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 40px 111px;
}
#home-desktop-map-container.mapWidth1151 #map-hovers.dial-a-ride {
  background-image: url("../images/map/dial-a-ride_scale_1151_out.jpg");
  background-repeat: no-repeat;
  background-position: 402.0px 255px;
}
