.icon-lrg-100 { 
  background-image: url(../images/route-icons.png);
  background-position: -48px -7px;
}
.icon-med-100 { 
  background-image: url(../images/route-icons.png);
  background-position: -32px -96px;
}
.icon-sml-100 { 
  background-image: url(../images/route-icons.png);
  background-position: -32px -153px;
} 
.icon-lrg-110 { 
  background-image: url(../images/route-icons.png);
  background-position: -137px -7px;
}
.icon-med-110 { 
  background-image: url(../images/route-icons.png);
  background-position: -89px -96px;
}
.icon-sml-110 { 
  background-image: url(../images/route-icons.png);
  background-position: -75px -153px;
} 
.icon-lrg-115 { 
  background-image: url(../images/route-icons.png);
  background-position: -226px -7px;
}
.icon-med-115 { 
  background-image: url(../images/route-icons.png);
  background-position: -146px -96px;
}
.icon-sml-115 { 
  background-image: url(../images/route-icons.png);
  background-position: -118px -153px;
} 
.icon-lrg-120 { 
  background-image: url(../images/route-icons.png);
  background-position: -315px -7px;
}
.icon-med-120 { 
  background-image: url(../images/route-icons.png);
  background-position: -203px -96px;
}
.icon-sml-120 { 
  background-image: url(../images/route-icons.png);
  background-position: -161px -153px;
} 
.icon-lrg-130 { 
  background-image: url(../images/route-icons.png);
  background-position: -404px -7px;
}
.icon-med-130 { 
  background-image: url(../images/route-icons.png);
  background-position: -260px -96px;
}
.icon-sml-130 { 
  background-image: url(../images/route-icons.png);
  background-position: -204px -153px;
} 
.icon-lrg-140 { 
  background-image: url(../images/route-icons.png);
  background-position: -493px -7px;
}
.icon-med-140 { 
  background-image: url(../images/route-icons.png);
  background-position: -317px -96px;
}
.icon-sml-140 { 
  background-image: url(../images/route-icons.png);
  background-position: -247px -153px;
} 
.icon-lrg-142 { 
  background-image: url(../images/route-icons.png);
  background-position: -582px -7px;
}
.icon-med-142 { 
  background-image: url(../images/route-icons.png);
  background-position: -374px -96px;
}
.icon-sml-142 { 
  background-image: url(../images/route-icons.png);
  background-position: -290px -153px;
} 
.icon-lrg-145 { 
  background-image: url(../images/route-icons.png);
  background-position: -671px -7px;
}
.icon-med-145 { 
  background-image: url(../images/route-icons.png);
  background-position: -431px -96px;
}
.icon-sml-145 { 
  background-image: url(../images/route-icons.png);
  background-position: -333px -153px;
} 
.icon-lrg-150 { 
  background-image: url(../images/route-icons.png);
  background-position: -760px -7px;
}
.icon-med-150 { 
  background-image: url(../images/route-icons.png);
  background-position: -488px -96px;
}
.icon-sml-150 { 
  background-image: url(../images/route-icons.png);
  background-position: -376px -153px;
} 
.icon-lrg-210 { 
  background-image: url(../images/route-icons.png);
  background-position: -849px -7px;
}
.icon-med-210 { 
  background-image: url(../images/route-icons.png);
  background-position: -545px -96px;
}
.icon-sml-210 { 
  background-image: url(../images/route-icons.png);
  background-position: -419px -153px;
} 
.icon-lrg-220 { 
  background-image: url(../images/route-icons.png);
  background-position: -938px -7px;
}
.icon-med-220 { 
  background-image: url(../images/route-icons.png);
  background-position: -602px -96px;
}
.icon-sml-220 { 
  background-image: url(../images/route-icons.png);
  background-position: -462px -153px;
} 
.icon-lrg-223 { 
  background-image: url(../images/route-icons.png);
  background-position: -1027px -7px;
}
.icon-med-223 { 
  background-image: url(../images/route-icons.png);
  background-position: -659px -96px;
}
.icon-sml-223 { 
  background-image: url(../images/route-icons.png);
  background-position: -505px -153px;
} 
.icon-lrg-225 { 
  background-image: url(../images/route-icons.png);
  background-position: -1116px -7px;
}
.icon-med-225 { 
  background-image: url(../images/route-icons.png);
  background-position: -716px -96px;
}
.icon-sml-225 { 
  background-image: url(../images/route-icons.png);
  background-position: -548px -153px;
} 
.icon-lrg-227 { 
  background-image: url(../images/route-icons.png);
  background-position: -1205px -7px;
}
.icon-med-227 { 
  background-image: url(../images/route-icons.png);
  background-position: -773px -96px;
}
.icon-sml-227 { 
  background-image: url(../images/route-icons.png);
  background-position: -591px -153px;
} 
.icon-lrg-230 { 
  background-image: url(../images/route-icons.png);
  background-position: -1294px -7px;
}
.icon-med-230 { 
  background-image: url(../images/route-icons.png);
  background-position: -830px -96px;
}
.icon-sml-230 { 
  background-image: url(../images/route-icons.png);
  background-position: -634px -153px;
} 
.icon-lrg-240 { 
  background-image: url(../images/route-icons.png);
  background-position: -1383px -7px;
}
.icon-med-240 { 
  background-image: url(../images/route-icons.png);
  background-position: -887px -96px;
}
.icon-sml-240 { 
  background-image: url(../images/route-icons.png);
  background-position: -677px -153px;
} 
.icon-lrg-250 { 
  background-image: url(../images/route-icons.png);
  background-position: -1472px -7px;
}
.icon-med-250 { 
  background-image: url(../images/route-icons.png);
  background-position: -944px -96px;
}
.icon-sml-250 { 
  background-image: url(../images/route-icons.png);
  background-position: -720px -153px;
} 
.icon-lrg-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1561px -7px;
}
.icon-med-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1001px -96px;
}
.icon-sml-d { 
  background-image: url(../images/route-icons.png);
  background-position: -763px -153px;
} 
.icon-lrg-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1650px -7px;
}
.icon-med-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1058px -96px;
}
.icon-sml-d { 
  background-image: url(../images/route-icons.png);
  background-position: -806px -153px;
} 
.icon-lrg-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1739px -7px;
}
.icon-med-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1115px -96px;
}
.icon-sml-d { 
  background-image: url(../images/route-icons.png);
  background-position: -849px -153px;
} 
.icon-lrg-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1828px -7px;
}
.icon-med-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1172px -96px;
}
.icon-sml-d { 
  background-image: url(../images/route-icons.png);
  background-position: -892px -153px;
} 
.icon-lrg-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1917px -7px;
}
.icon-med-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1229px -96px;
}
.icon-sml-d { 
  background-image: url(../images/route-icons.png);
  background-position: -935px -153px;
} 
.icon-lrg-d { 
  background-image: url(../images/route-icons.png);
  background-position: -2006px -7px;
}
.icon-med-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1286px -96px;
}
.icon-sml-d { 
  background-image: url(../images/route-icons.png);
  background-position: -978px -153px;
} 
.icon-lrg-d { 
  background-image: url(../images/route-icons.png);
  background-position: -2095px -7px;
}
.icon-med-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1343px -96px;
}
.icon-sml-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1021px -153px;
} 
.icon-lrg-d { 
  background-image: url(../images/route-icons.png);
  background-position: -2184px -7px;
}
.icon-med-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1400px -96px;
}
.icon-sml-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1064px -153px;
} 
.icon-lrg-d { 
  background-image: url(../images/route-icons.png);
  background-position: -2273px -7px;
}
.icon-med-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1457px -96px;
}
.icon-sml-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1107px -153px;
} 
.icon-lrg-d { 
  background-image: url(../images/route-icons.png);
  background-position: -2362px -7px;
}
.icon-med-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1514px -96px;
}
.icon-sml-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1150px -153px;
} 
.icon-lrg-d { 
  background-image: url(../images/route-icons.png);
  background-position: -2451px -7px;
}
.icon-med-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1571px -96px;
}
.icon-sml-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1193px -153px;
} 
.icon-lrg-d { 
  background-image: url(../images/route-icons.png);
  background-position: -2540px -7px;
}
.icon-med-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1628px -96px;
}
.icon-sml-d { 
  background-image: url(../images/route-icons.png);
  background-position: -1236px -153px;
} 

