.mobile-all {

	.desktop-only {
		display: none;
	}


	#route-quick-select {
		margin: 0 auto;
		max-width: 100%;
		width: 200px;
		margin-top: 20px;
	}

	color: #dff3ff;
	
	h1, h2, h3 , h4 {
	color: #dff3ff;
	}

	body {
		background-size: 40px 40px;
		background-repeat: repeat;
	}



	#menu-footer {
		li {
			display: inline-block;
			width: 100%;
		}
	}
	
	
	.mobile-drawer-header {
		background:#418eae;
		border-left: 13px solid #71cde5;
		font-size: 1.2em;
		padding: 10px;
		color: white;
		font-weight: 600;
		text-transform: uppercase;
		cursor: pointer;	

	
	 	i {
	 		
			background-image: url(../images/art-sprites.png);  
			background-position: -84px -161.5px;
			background-size: 350px 350px;
			width:7px;
			height: 12px;
			float: left;
			margin-right: 5px;
			margin-top: 3px;
			position: relative;
			top: 3px;
		}
		
		
	}
	
	.mobile-drawer-header.promo { 
		font-size: .9em;
	}
	
	.mobile-drawer {
		color: white;
	}
	
	.mobile-drawer-header.open i {
		background-position: -92.5px -158.5px;
		top: 0px;
	}
		
	
	
	#no-alerts-text {
		color: white;
		text-align: center;
	}
	
	.mobile-padded {
		margin-right: 1%;
		margin-left: 1%; 
	}
	
	#mobile-map-link {
		border: 5.5px solid white;
		background: #3f9bc3;
		height: 47px;
		color: white;
		text-transform: uppercase;
		font-size: .8em;
		line-height: 2.7em;
		-webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);
		-moz-box-shadow:    0px 3px 0px 0px rgba(0, 0, 0, 0.25);
		box-shadow:         0px 3px 0px 0px rgba(0, 0, 0, 0.25);
		
		
		i {
			background-image: url(../images/art-sprites.png);
			background-position: -9px -201px;
			background-size: 350px 350px;
			width:37px;
			height:27px;
			float: left;
			margin-right: 8px;
			margin-top: 4px;
			margin-left: 3px;
		}
	}
	
	#route-quick-select {
	
	}

}