
@media only screen and (min-width: 651px) {

	#content {
		min-width: 1000px;
	}

}


i {
	font-style: normal;
}

a:link, a:visited {
color: white;
}
a:hover{
	color: #F0F8FF;
}

h1, h2, h3, h4 , h5, h6 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	letter-spacing: .1em;

}
.over-blue {
color: white;
}

.linked-div:hover {
	cursor: pointer;
}

body {
	color: black;
	background-color: #0e71af; 
	background-image: url(../images/clear-grain.png);
	background-position: top center;
	black: white;
}


#logo:hover {
	cursor: pointer;
}

.wrap {
min-width: 1200px;
}

.mobile .wrap {
min-width: 0px;
}

.Dense-Regular { 
	font-family: Dense-Regular;
	font-weight: normal;
	font-style: normal;
}


#inner-header {
	position: relative;

}


#number-and-search-wrap {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 65%;
}

.route-icon {
	float: left;
	margin-right: 4px;
}



#kern-phone {
	
	float: right;
	width: 130px;
	text-weight: 600;
	font-size: 1.1em;
	margin-top: 13px;
	
	a:link, a:visited, a:active {
		color: #84a990;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	

}


#search-wrap {

	position: relative;
	float: right;
	input#search {
		height: 30px;
		width: 178px;
		background: none;
		border: solid 1px #a1a1a1;
		border-radius: 0;
		margin-top: 11px;
		padding-left: 30px;
		padding-top: 3px;
		color: white;
		line-height: 15px;
		
		
		
	}
	
	$placeholderLineHeight: 15px;
	
	*::-webkit-input-placeholder { /* WebKit browsers */
    line-height: $placeholderLineHeight;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   line-height: $placeholderLineHeight;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
   line-height: $placeholderLineHeight;
}
*:-ms-input-placeholder { /* Internet Explorer 10+ */
  line-height: $placeholderLineHeight;
}
	
	#header-search-icon-submit {
		position: absolute;
		top: 12px;
		background-image: url(../images/kern-sprites.png);
		background-position: -128px -2px;
		width: 23px;
		height: 22px;
		border:0 none !important;
		outline: 0 none;
	}
	
}


#logo {
	z-index: 999;
	float: left;
	background-image: url("../images/art-sprites.png");
	background-repeat: no-repeat;
	width: 254px;
	height: 85px;
	position: absolute;
	background-position: 0 -15px;
	left: 0;
	top: -30px;
}

:not(.mobile) .home	 #logo {

	//	height: 210px;
	//	background-position: 0 0px;
//		left: 0px;
	
	}  

@media only screen and (min-width: 1480px) {
	#logo {

		height: 210px;
		background-position: 0 0px;
		left: -40px;
	
	} 
}

@media only screen and (min-width: 1610px) {
	#logo {

		height: 210px;
		background-position: 0 0px;
		left: 0px;
	
	} 
}


#inner-content {
	width: 1151px;
	
	
	
	a:link, a:visited {
		color:#9ee0ff;
		//text-shadow: 1px 1px 0px rgba(0,0,0, 1);
		
	}
	
	
}


#main, #route-alerts {

	a:link, a:visited {
		color:black;
		//text-shadow: 1px 1px 0px rgba(0,0,0, 1);
		
	}
}


#home-desktop-map-container {
	background: #8bb58a;
	height: 745px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-bottom: 20px;
	position: relative;
	background-image: url(../images/map-top-rim.jpg);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.5);
	
	img {
		height: 680px !important;
	}
}

.leaflet-top .leaflet-control {
margin-top: 105px !important;
}

.single-route_line .leaflet-top .leaflet-control {
margin-top: 10px !important;
}

#map-alerts-wrap {
	position:absolute;
	left: 23px;
	bottom: 24px;
	z-index: 999;
	color: white;
	text-decoration: underline;
	font-size: 1.8em; 
	font-weight: 500;
	
	a:link, a:active, a:visited {
		color: white;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.67);
	}
	a:hover {
		color: yellow;
	}
	
	i {
		background-image: url(../images/kern-sprites.png);
		width: 30px;
		height: 25px;
		float: left;
		background-position: -187px -8px;
		margin-right: 4px;
		position: relative;
		top: 9px;
	}
	
	

}

#map-alerts-wrap.no-alerts {
	font-size: 1.1em; 
	font-weight: 300;
	text-decoration: none;
	color: #dcdcdc;
}

#drop-down-info-text-wrap {
	z-index: 99;
	position: absolute;
	top: 21px;
	right: 50px;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

#map-background {
	position: absolute;
	top: 10px;
	z-index: 1;
	background-repeat: no-repeat;
	
	
}

#planner-wrap {

	width: 233px;
	margin: 8px 0 0 18px;
	z-index: 999;
	position: absolute;
	top: 10px;

}

#planner-expand-contract-tab {
	float: left;
	font-size: .8em;
	line-height: .7em;
	height: 22px;
	padding: 0px 4px 3px 5px;
	color: #5f5850;
	cursor: pointer;
	background-image: url(../images/kern-sprites.png);

}


#trip-planner-container form {
	padding: 5px;
}


#trip-planner-container.minimized {
	form {
	height: 38px; 
	}
}

#trip-planner-container {

 input{
 	line-height: inherit;
 }

}

.planner-title {
}
#planner-expand-contract-tab.minimized {
	background-position: -35px  -102px;
	width: 77px;
}


#planner-expand-contract-tab.expanded {
	background-position:  -45px  -127px;
	width: 84px;
}


#trip-planner-container {
	background-color: #f5e5d0;
	border-top-left-radius: 8px;
	border-top-right-radius: 4px;
	float: left;
	-webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.25);
	box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.25);
	padding-bottom: 7px;	
	
	td {
	
		width: 100%;
	}
	
	

 h2 {
 	color: #de791c;
 	
 	background-color: #fff98d;
 	border-top-left-radius: 10px;
 	width: 100%;
 	text-align: center;
 	font-style: italic;
 	text-transform: uppercase;
 	font-size: 22px;
 	padding: 5px;
 	margin-bottom: 2px;
 	font-weight: 500;
 	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.67);
 }
 
 table {
 width: 100%;
 
 }
 
 input[type="text"] {
 background-color: #e4d4bf;
 border: 1px solid #d2c1ab;
 color: black;
 width: 100%; 
 height: 32px;
 margin-bottom: 2px;

 border-radius: 0;
 
 }
 
 input[type="radio"] {
	margin-left: 1px;
 	margin-right: 4px;
 
 }
 
 input[type="submit"] {
	margin: 7px 0 7px 0 ;
	width: 100%;
 
 }
 
 
 
 #fdate, #ftime {
 	width: 49%;
 	float: left;
 }
 
 #ftime {
 	margin-left: 2%;
 }
 
 #daddr {
 width: 100%;
 }
 
 


}

#how-to-ride-links {
	float: left;
		
	a:link, a:active, a:visited {
		color: white;
		text-decoration: none;
	} a:hover {
		text-decoration: underline;
	}
		
		
	li {
		margin-bottom: 7px;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 200;
	}
	
	hr {
		border-color: blue;
		border-top: 0;
	}
	
}
		
#connections-icon,
#accessibility-icon,
#dial-a-ride-icon,
#bikes-on-buses-icon,
#passenger-conduct-icon,
#mobile-and-desktop-apps-icon,
#holidays-icon {
	background-image: url(../images/kern-sprites.png);
	width: 22px; 
	height: 20px;
	float: left;
	position: relative;
	top: 2px;
	margin-right: 5px;

}






#sidebar1 {
	#how-to-ride-links {
	margin-left: 0px;
	
	}
}
	
	
		#connections-icon {
			background-position: -160px -75px;
		}
		#accessibility-icon {
			background-position: -13px -75px;
		}
		#dial-a-ride-icon {
			background-position: -35px -75px;
			left: -3px;
		}
		#bikes-on-buses-icon {
			background-position: -60px -75px;
			left: -5px;		
		}
		#passenger-conduct-icon {
			background-position: -87px -75px;
			left: -4px;
		}
		#mobile-and-desktop-apps-icon {
			background-position: -115px -75px;
			left: 1px;
		}
		#holidays-icon {
			background-position: -136px -74px;
		}



#home-secondary-container {

	margin-bottom: 20px;
	color: white;

	padding: 10px;
	background-image: url(../images/slide-shadow.png);
	background-repeat: repeat-x;


#how-to-ride-links {
	float: left;


		border-right: 1px solid #5e8aa9;
		
		margin-left: 43px;

		width: 25%;
		}

	h1, h2 {
		font-style:italic;
		font-size: 1.3em;
		color: #ffc57f;
		text-transform: uppercase;
		margin-top: 0;
		padding-top: 0;
		position:relative;
		top: -5px;
	}

	#secondard-links-row {
		margin-top: 35px;
	
	}
	
	.secondary-col {
		height: 260px;
		
		li {
			font-size: .9em;
			
		}
	}


    #home-news-area{
    	
    	border-right: 1px solid #5e8aa9;
    	margin-left: 43px;
    	margin-bottom: 40px; 
    	width: 25%;
    	
    	 h2 {
    	 	margin-right: 43px;
    	 	padding-bottom: 19px;
    	 	margin-bottom: 10px;
    		border-bottom: 1px dashed #a5bfd1;
    	}
    }
    
    
	a:link, a:active, a:visited {
		color: white;
		text-decoration: none;
	} a:hover {
		text-decoration: underline;
	}

	

	


	

	#home-description-of-services {

	margin: 10px 24px 57px 24px;
	padding-top: 36px;
	border-top: 1px solid #5e8aa9;
	
		a:link {
			color: #ffc57f !important;
			text-decoration: underline;
		}
	}
	
	.menu-secondary-links-home-right-container {
		float: left;
		margin-left: 43px;
	}
	
	ul#menu-secondary-links-home-right, ul#menu-center-home-menu { 
	
		
    list-style: none;
    padding:0;
  margin-top: 0;


	li { 
		margin-bottom: 12px;
		padding-left: 1.1em; 
		text-indent: -.7em;
		a:link{
			margin-left: 5px;
		}
	}

	li:before {
		content: "•  ";
		color: #8baac1; /* or whatever color you prefer */
	}
	
	}
	
	
	#home-news-area {
		float: left;
		
		ul {
		
			li {
			
				font-size: 1.03em;
				min-height: 46px;
				vertical-align: center;
				
				a i {
						background-image: url(../images/kern-sprites.png);
						background-position: -168px -4px;
						width: 15px;
						height: 40px;
						float: left;
						margin-right: 7px;

				}
			}
			li:before {
				
				color: #8baac1; /* or whatever color you prefer */
		}
	
		
		}
		

	}

}

#main-nav {

	float: left;
	margin: 74px 0 10px 41px;
	

	ul {
		li {
			cursor: pointer;
		
			text-align: center;
			float: left;
			margin: 0 20px;	
			height: 57px;
			
			a:link, a:active, a:visited, a:hover  {
			color: white; 
			text-decoration: none;
			font-family: 'Lato', sans-serif;
			font-size: 1.05em;
			text-transform: uppercase;
			} 
			
			a:hover{
				
				
			
			}
			
			
			.main-nav-icon {
				height: 25px;
				width: 25px;
				margin-right: 8px;
				float: left;
				background-image: url(../images/kern-sprites.png);
			
			}
			
			$main-nav-y: -7px;
			
			#routes-and-schedules-icon {
				margin-top: 10px;
				background-position: -10px $main-nav-y;
			}
			#dial-a-ride-icon {
				background-position: -39px $main-nav-y;
			}
			#fares-icon {
				background-position: -69px $main-nav-y;
			}
			
			
			
			
			span {
			float: right;
			}
			
		}
		li:hover, li.current {
		border-bottom: 2px solid white;
		
		
		$main-nav-y: -37px;
			
			#routes-and-schedules-icon {
				background-position: -10px $main-nav-y;
			}
			#dial-a-ride-icon {
				background-position: -39px $main-nav-y;
			}
			#fares-icon {
				background-position: -69px $main-nav-y;
			}
			
			#how-to-ride-icon {
				background-position: -100px $main-nav-y;
			}
			
		
		}
		li#dial-a-ride-link, li#fares-link, li#how-to-ride-link {
			padding-top: 10px;
		}
		
		li.parent-active {
			border-bottom: 2px dotted #67a2bb;
		}
	
	}

}



.footer {


    box-shadow: 0px 500px 0px 500px #000;


	a:link, a:visited, a:active {
	color: white;
	}

	a:hover {
 			text-decoration: underline;
 	}
 	
 	
 	#footer-attributions {
 	font-size: .8em;
 	margin-top: 13px;
 	margin-right: 15px;
 	float: right;
		a:link, a:active, a:visited {
		color: grey !important;
		text-decoration: none;
		}
 	}
}
#menu-footer-links {
	float: left;
 	li {
 		float: left;
 		
 	}
}

#footer-copyright {
margin-top: 10px;
float: right;
}

#inner-footer {
	height: 60px;
}

///  home planner 
#ui-datepicker-div {font-size:60%}

.min-hide {
display: none;
}

#trip_planner {
width: 233px;
 	h2 {
 		border-top-left-radius: 10px;
 		border-top-right-radius: 4px;
 		margin-top: 0;
 		font-size: 1.35em;

 	}
}  
 #planner-wrap {

 }
 
 #fare-form-holder {
  border-right: 1px solid white;
 border-bottom: 1px solid white;
 border-left: 1px solid white;
 border-bottom-right-radius: 5px;
 border-bottom-left-radius: 5px;
 background-color: #e9e6d8;
 margin: 0;
 padding: 10px;
 margin-bottom: 20px;
 
-moz-box-shadow: 0 2px 2px 1px rgba(0,0,0,.4);
-webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,.4);
box-shadow: 0 2px 2px 1px rgba(0,0,0,.4);

	select {
		background-color: white;
	}

 }
 
  .page-template-fares-php h4 {
 
  		color: white;
  		background-color: #80A9BD;
  		padding: 10px;
  		margin-bottom: 0;
  		margin-top: 0;
  		border-top-left-radius: 5px;
  		border-top-right-radius: 5px;
  		border: 0;
  		
  		 
-moz-box-shadow: 0 2px 2px 1px rgba(0,0,0,.4);
-webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,.4);
box-shadow: 0 2px 2px 1px rgba(0,0,0,.4);
  }
  
 
 #fare-start {
 	float: left;
 	width: 48%;
 }
#fare-end {
float: left;
 	width: 48%;
 	margin-left: 1%;
}
 
 #get-fares {
 float: left;
 	width: 30%;
 	padding: 13px;
 }

#regular_fare {
	float: left;
	clear: both;
}

#get-fares-results.fare-calculated {
	background: #4dbe6e;
	color: white;
}

#get-fares-results {
	float: left;
	margin-left: 10px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,1,.3);
	min-width: 50px;
	text-align: center;
	padding: 10px;
}
 
 
 // ARCHIVES
 
 .archive, .search {
 
 .archive-title {
 	margin: 20px;
 	color: #343c5a;
 }
 
 h3 a:link { 
 	color: #354787;
 }
 
 
 .article-date {
 	color:#595959;
 }
 
 
 .article-header {
 
 	border-bottom: 1px solid #c2c7d8;

 	padding-bottom:10px;
 	padding-top:10px;
 }
 
 
 #main article {
 	
  		background-color: white;
  		padding: 10px;
  		margin: 10px;
  		border: 1px solid #d8e0ff;
  		border-top-left-radius: 5px;
  		border-top-right-radius: 5px;
  		margin-bottom: 20px;
  		border-bottom: 12px solid #eee; 
  		
  		
  		 
-moz-box-shadow: 0 2px 2px 1px rgba(0,0,0,.4);
-webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,.4);
box-shadow: 0 2px 2px 1px rgba(0,0,0,.4);
 }
 
 }
 
 #main ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
margin: 1em 0;
}

 #main ul { 
 list-style-type: disc; 
   list-style-position: inside; 
margin: 1em 0;
}


#route-fares-link {
float: right;
padding: 15px;}

#pdf-link {
float: left;
}

#route_days_of_week {
float: left;
}

#h2-inner {
float: left;
}



#home-news-area {
 h2 {
 	color: white;
 	font-size: 2.1em;
 	font-weight: 800;
 }
}

#home-lower-promo-image {
	width: 40%;
	float: left;
	
	img {
		width: 90%;
		margin: 0 5% 25px 5%;
	}
}

#home-secondary-container #home-description-of-services {
width: 60%;
float: right;
padding: 1%;
margin: 0;
border: 0;
}


#home-secondary-container {
	#home-contact-button {
		float: left;
		margin-left: 35px;
		background-color: #d8eaff;
		padding: 9px 15px;
		color: #216e79;
		border: 2px solid #6dcff6;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: 1.1em;
		font-weight: 800;
		border-radius: 11px;
	}
	#home-contact-button:hover {
		text-decoration: none;
		background: white;
	}
	
	.secondary-icon-link {
		float: left;
		background-image: url(../images/art-sprites.png);
		margin: 0 10px;
		
	}
	
	#facebook-link {
		background-position: -326px -4px;
		width: 38px;
		height: 36px;
	}
	#twitter-link {
		background-position: -368px -4px;
		width: 38px;
		height: 36px;
	}
	#youtube-link {
		background-position: -407px -4px;
		width: 48px;
		height: 36px;
	}
	
	#facebook-link:hover {
		background-position: -326px -45px;

	}
	#twitter-link:hover {
		background-position: -368px -45px;

	}
	#youtube-link:hover {
		background-position: -407px -45px;

	}
}

#home-quote {
text-align: center;
margin-bottom: 25px;
	q {
		font-size: 1.7em;	
		text-align: center;
	}

}
 
#menu-home-right-secondary {
float: left;
width: 100%;
margin-left: 35px;
font-size: 1.3em;

	

	li {
	margin-bottom: 15px;
		
	
	a:link {
		color: #7eeeff;
		
	} 
	}
	 li:before {
		content: "• ";
		color: #96d2f3;
	}
}

#right-secondary-links {
float: left;
}

#how-to-ride-icon {
width: 23px;
height: 23px;
float: left;
position: relative;
left: -4px;
margin-right: 5px;


			background-image: url(../images/art-sprites.png);
				background-position: -296px -74px;
			}
			
			#faq-icon {
			width: 22px;
height: 23px;
float: left;
left: -4px;
position: relative;
top: 2px;
margin-right: 5px;
			background-image: url(../images/art-sprites.png);
				background-position: -296px -103px;
			}
	
	
#home-slide-show {
	position: relative;
	

	.slide-image {
	width: 100%;
	display: block;
	}
			
	#home-image-blurb {
		position: absolute;
		min-height: 120px; 
		padding: 1% 2%;
		bottom: 15%;
		width: 40%;
		background: #268cb9;
		border: 2px solid #0072bc;
		right: 5%;	
	
		#home-image-blurb-main-text {
		padding-bottom: 10px;
		color:#ffd56b;
		font-size: 1.5em;
		line-height: 1.1em;
		font-weight: 800;
		text-shadow: 1px 1px 0px rgba(22, 89, 109, 1); 
		text-transform: uppercase;
		}
	
		#home-image-blurb-subtext {
		color:white;
		font-size: 1.65em;
		}
	}
	
	
	

}


@media only screen and (min-width: 1380px) {
#home-slide-show {
	#home-image-blurb {
		position: absolute;
		min-height: 120px; 
		padding: 1% 2%;
		bottom: 15%;
		width: 40%;
		background: #268cb9;
		border: 2px solid #0072bc;
		right: 5%;	
	
		#home-image-blurb-main-text {
		padding-bottom: 10px;
		color:#ffd56b;
		font-size: 2.8em;
		line-height: 1.1em;
		font-weight: 800;
		text-shadow: 1px 1px 0px rgba(22, 89, 109, 1); 
		text-transform: uppercase;
		}
	
		#home-image-blurb-subtext {
		color:white;
		font-size: 1.65em;
		}
	}
	}
	
}
	

#blue-shadow {
background-image: url(../images/map-shadow.png);
background-repeat: repeat-x;
width: 100%;
position: absolute;
top: 0;
height: 85px;
z-index: 100;
}

#blue-shadow2 {
background-image: url(../images/light-shadow.png);
background-repeat: repeat-x;
width: 100%;
position: absolute;
bottom: 0;
height: 80px;
z-index: 100;
}

#interactive-map-holder {
display: block;
}